.main{}
.main .firstfloor{
	width: 100%;
	height: 500px;
}
.firstfloor a img{
	width: 100%;
	height: 500px;
}
.secondfloor{
	width: 100%;
	height: 150px;
}
.secondfloor .guide{
	margin: 0 auto;
	width: 1120px;
	height: 150px;
}
.guide ul{
	
}
.guide ul li{
	line-height: 130px;
	margin-left: 0px;
	list-style: none;
	width: 140px;
	float: left;
	opacity: 0.6;
	filter:alpha(opacity=60);
}
.guide ul li:hover{
	opacity: 1;
	filter:alpha(opacity=100);
}
a{
	position: relative;
}
.guide ul li a img{
	margin-left: 55px;
	width: 30px;
	height: 30px;
}
a .img_w{
	font-size: 14px;
	font-family: "华文细黑";
	margin-left: 40px;
	position: absolute;
	bottom: 20px;
	width: 60px;
	height: 20px;
	text-align: center;
}