.firstfloor {
	width: 100%;
	overflow: hidden;
	background: #f5f5f5;
	height: 550px;
	border-bottom: 1px solid #fff;
}

.firstfloor #lunbo {
	margin: 0 auto;
	position: relative;
	width: 920px;
	height: 400px;
	background: #f5f5f5;
}

#list {
	position: absolute;
	width: 9200px;
	height: 400px;
	z-index: 1;
}

#list img {
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	width: 900px;
	height: 400px;
}

#buttons {
	position: absolute;
	height: 10px;
	width: 100px;
	z-index: 2;
	bottom: 20px;
	left: 410px;
}

#buttons span {
	cursor: pointer;
	float: left;
	border: 1px solid #fff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #333;
	margin-right: 5px;
}

#buttons .on {
	background: orangered;
}

.arrow {
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 2;
	top: 185px;
	cursor: pointer;
}

#prev {
	left: 30px;
	background: url("../images/arrow2.png");
	background-size: 30px 30px;
}

#next {
	right: 30px;
	background: url("../images/arrow1.png");
	background-size: 30px 30px;
}

.over1, .over2 {
	width: 20px;
	height: 30px;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.over2 {
	margin-left: 10px;
}

.over1 {
	margin-right: 10px;
}