*{
	margin: 0px;
	padding: 0px;
}
body{
	min-width: 1180px;
	background: #f5f5f5;
	Font-family: Arial, "Microsoft YaHei", "华文细黑","微软雅黑", sans-serif;
}
.header{
		margin:0 auto;
		width: 1180px;
		height: 130px;
		line-height: 130px;
	}
.header .logo{
	margin-left: 80px;
	width:200px;
	height: 130px;
	float: left;
}
.header .logo a img{
	width:200px;
	height: 130px;
}
.header .nav{
	font-family: "华文细黑";
	margin-left: 250px;
	height: 130px;
	width: 650px;
	float: left;
}
.nav ul{
	font-size: 14px;		
	list-style: none;
	
}
ul li{
	margin-left: 30px;
	line-height: 130px;
	/*padding: 20px;*/
	float: left;
}
li a{
	text-decoration: none;
	color: #000;

}
li:hover a{
	text-decoration:underline;
}
.care{
	color: #f00;
}