.main{
	width: 100%;
}
.main .fisrtfloor{
	width: 100%;
	height: 900px;
}
.firstfloor img{
	width: 100%;
	height: 700;
}
.firstfloor .loveMusic{
	width: 100%;
	height: 200px;
}
.secondfloor,.thirdfloor,.forthfloor,.fifthfloor{
	width: 100%;
	overflow: hidden;
}
.secondfloor,.thirdfloor,.forthfloor,.fifthfloor a{
	line-height:0px;
}
.secondfloor,.thirdfloor,.forthfloor,.fifthfloor a img{
	width: 100%;
	height: 100%;
}