.main{}
.main .firstfloor{
	position: relative;
	overflow: hidden;
	height: 450px;
	width: 100%;
	background: #aeaeae;
}
.firstfloor .tag_content{
	/*position: absolute;*/
	text-align: center;
	height: 300px;
	width: 100%;
	background: url('../images/tech.png');
}
.tag_content span {
	float: left; font-size:16px; line-height:2em;
}
.tag_content span.bold {
	font-weight:bold;
}
.tag_content span:nth-child(1) {
	width: 35%;
	text-align: center;
}
.tag_content span:nth-child(2) {
	width: 30%;
	text-align: left;
}
.tag_content span:nth-child(3) {
	width: 35%;
	text-align: left;
}
.tag_content span:nth-child(4) {
	width: 35%;
	text-align: right;
}
.tag_content span:nth-child(5) {
	width: 25%;
	text-align: right;
}
.tag_content span:nth-child(6) {
	width: 25%;
	text-align: right;
}
.tag_content span:nth-child(7) {
	width: 50%;
	text-align: center;
}
.tag_content span:nth-child(8) {
	width: 30%;
	text-align: center;
}
.tag_content span:nth-child(9) {
	
	}
.firstfloor .guide{
	margin: 0 auto;
	width: 1120px;
	height: 150px;
}
.guide ul{
	
}
.guide ul li{
	line-height: 130px;
	margin-left: 0px;
	list-style: none;
	width: 140px;
	float: left;
	opacity: 0.6;
	filter:alpha(opacity=60);
}
.guide ul li:hover{
	opacity: 1;
	filter:alpha(opacity=100);
}
a{
	position: relative;
}
.guide ul li a img{
	margin-left: 55px;
	width: 30px;
	height: 30px;
}
a .img_w{
	font-size: 14px;
	font-family: "华文细黑";
	margin-left: 40px;
	position: absolute;
	bottom: 20px;
	width: 60px;
	height: 20px;
	text-align: center;
}

/*.aword{
	position: absolute;
	line-height: 300px;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 300px;
	text-align: center;
	color: #fff;
	font-family: "华文细黑";
	font-size: 20px;
}*/
.secondfloor,.thirdfloor,.forthfloor {
	color: #555;
	font-family: "华文细黑";
	width: 100%;
	height: 800px;
}
.secondfloor,.forthfloor{
	background: #dedede;
}
.secondfloor .s_copy,.thirdfloor .s_copy,.forthfloor .s_copy{
	width: 800px;
	margin:0 auto;
}
.s_copy .dv_line{
	height: 50px;
}
.s_copy h3{
	text-align: center;
}
.s_copy p{
	margin-top: 20px;
	width: 800px;
	font-size: 14px;
	text-align: center;
}
.s_copy ul{
	margin-left: 20px;
	margin-top: 40px;
}
.s_copy ul li{
	list-style: none;
	float: left;
	height: 250px;
	width: 250px;
}

.s_copy ul li a img{
	display: block;
	height: 200px;
	width: 250px;
	opacity: 0.7;
	filter:alpha(opacity=70);
}
.s_copy ul li .wt{
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.thirdfloor {
	background: #f5f5f5;
}
